[Unit]
Description="Run hyperpixel gif player"
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/mbutki/pi_projects/python/.venv/bin/python /home/mbutki/pi_projects/python/src/displays/hyper/play-gifs.py /home/mbutki/pi_projects/python/src/displays/hyper/1041uuu 600

[Install]
WantedBy=multi-user.target
