*.pyc
client_secret.json

db.config
pi.config

python/build
python/src/logs
python/src/mbutki.egg-info

python/src/weather/matrix.config

webserver/secrets.js

python/src/displays/hallway/systemd/chrome_display.service