[Unit]
Description="Fetch weather data"
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/mbutki/pi_projects/python/.venv/bin/python /home/mbutki/pi_projects/python/src/weather/fetch_weather.py