[Unit]
Description="Run fetchWeather service every 10th min"
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=*:0/10
Unit=fetchWeather.service

[Install]
WantedBy=multi-user.target