[Unit]
Description="Read temp/humid for NOW table"
Wants=network-online.target
After=network-online.target

[Timer]
Unit=SHT31-D_read_temp_humid_NOW.service
OnActiveSec=0
OnUnitInactiveSec=1

[Install]
WantedBy=multi-user.target