[Unit]
Description="Run eink_weather_manga service every 10th min"
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=*:0/10
Unit=eink_weather_manga.service

[Install]
WantedBy=multi-user.target
